1CharacterChatAI/.env
1CharacterChatAI/node_modules
1CharacterChatAI/package-lock.json

2MotivatorAI/info.PY
2MotivatorAI/main.py

3GridWorldRL/catatan.py

4TTSAnime/ASR_TOOLS_SenseVoice_WebUI
4TTSAnime/dataset
4TTSAnime/dataset2
4TTSAnime/EmuDataset
4TTSAnime/env
4TTSAnime/env2
4TTSAnime/GPT-SoVITS

